@import url('https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC|IM+Fell+Great+Primer');
button {
  font-family: 'IM Fell Great Primer', serif;
  background-color: #282c34;
  appearance:none;
  box-shadow: none;
  border-radius: 0;
  color: white;
  
}
.Header {
  text-align: center;
  background-color: #282c34;
  height: 56.7vh;
  padding-top: 20rem;
}

.header-inside {
  display: flex;
  flex-direction: column;
  font-family: 'IM Fell DW Pica SC', serif;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
.btn-flat:hover{
  text-decoration-line: underline;
}